header {
  background-image: url("/../../../images/header-bg-1500x200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

header img {
  width: 200px;
  max-width: 100%;
  height: auto;
}
/* navigation lists */

.navbar-nav {
	font-size: 0.8rem;
}

/* navigation hamburger-3-lines-bar */

.navbar-toggler-icon {
	font-size: 1.2rem;
}

#navbarNav a {
	color: #e5e0be;
}

.fa-caret-down {
	color: #e5d3be;
	font-size: 1.2rem;
}