.shivaImage {
  width: 135px;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 10px 5px 8px rgb(0, 0, 0, .4);
}

/* The below styles are for contact page left bar icons, not the linked icons on right bar and front page */

.aboutPara .LinkedInIcon {
  color: #0e76a8
}

.aboutPara .gitHubIcon {
  color: #4078c0
}

.aboutPara .faceBookIcon {
  color: #3b5998
}

.aboutPara .youtubeIcon {
  color: #bb0000
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-bootstrap {
  color: #602c50;
}

.fa-js-square {
  color: #d8bf1b;
}

.fa-node-js {
  color: #68A063;
}

.fa-code {
  color: #888;
}

.fa-html5 {
  color: #F16529;
}

.fa-database {
  color: #888;
}

.fa-github-square {
  color: #4078c0
}

.fa-git-square {
  color: #F1502F;
}

.fa-react {
  color: #61DBFB;
}

.fa-adobe {
  color: #3B140A;
}

.fa-bezier-curve {
  color: #888;
}

.fa-drafting-compass {
  color: #888;
}

.fa-pen-nib {
  color: #602c50;
}

.fa-sitemap {
  color: #888;
}

@media (min-width: 1440px) {
  .aboutPageIcons {
    font-size: 1.5rem;
  }
}