/* Graphic-Digital Page */

.descriptionTitle {
  color: #17a2b8;
}

.descriptionTitle {
  color: #17a2b8;
}
.magazineInfo a{
  color:blueviolet;
}

/* #graphicPagesDisplayBox img {
  border: 1px solid #999;
  padding: .4rem;
  margin: .5rem 0;
} */

/* #midColumnDisplayBox img {
  border: 1px solid #999;
  padding: .4rem;
  margin: .5rem 0;
} */

/* #bottomColumnDisplayBox img {
  border: 1px solid #999;
  padding: .4rem;
  margin: .5rem 0;
} */

/* .portfolioDisplayCol {
  margin: 0 auto;
  text-align: center;
} */

/* .portfolioButtons {
  background-color: #f5f1f1;
  border-radius: 10px;
  padding: .3rem .5rem;
  border: 1px solid #b9b9b9;
  margin: 0 auto;
  font-size: .9rem;
} */

/* .portfolioButtons:hover {
  background-color: #79eeda;
  cursor: pointer;
} */

/* #fashionMagazineDescriptionDisplay {
  display: block;
} */

/* #brochureDescriptionDisplay, #collateralDescriptionDisplay, #healthMagazineDescriptionDisplay {
  display: none;
} */

/* #phoneDescriptionDisplay {
  display: block;
} */

/* #bathroomDescriptionDisplay {
  display: none;
} */

/* #houseDescriptionDisplay {
  display: block;
} */

/* #randomDescriptionDisplay {
  display: none;
} */

